{% extends "layout.html" %}

{% block body %}
<h3>Hakkımda</h3>
<hr>
I have been doing software engineering for over 4 years. In projects, I took roles in the creation of software architectures and systems.

I use C/C++ languages in the embedded software field. I am making software on various ARM-based microprocessors.

In the backend software, I use the Python language. I took an active role in various projects.
Web frameworks I use:
-Flask
-Django

I am familiar with SOLID principles.
I used Jenkins for CI/CD.
<hr>

{% endblock body %}